
	/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
/* sets whole page to Open Sans and sets background color */
body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color:#fff;
  line-height:1.2;
  margin:0;
  background:linear-gradient(to bottom, rgba(0, 0, 0,0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url("../images/aditya.jpg");
  background-repeat:repeat;
  background-size:cover;
  font-size: 18px;
}
/* login div */
.login {
  background-color:;
  width: 420px;
  height: 312px;
  margin: 200 auto;
  padding: 0;
}

/* login header */
h1 {
  color: #55acee;
  text-align: center;
  font-size: 36px;
  padding-top: 10px;
}

/* div containing form */
form {
  text-align: center;
}

/* username and password fields */
input:not([type="button"]) {
  font-family: 'Open Sans', 'sans-serif';
  border: 1px solid #acacac;
  color: #666;
  opacity: .7;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  width: 250px;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  font-size: 16px;
}

input:focus:not([type="button"]) {
  border: 1px solid #55acee;
  opacity: 1;
  width: 320px;
  outline: none;
  color: #55acee;
}

/* submit button */
input[type="submit"] {
  padding: 15px 25px;
  font-size: 22px;
  width: 175px;
  color: #fff;
  position: relative;
  display: inline-block;
  background-color: #55acee;
  box-shadow: 0px 5px 0px 0px #3C93D5;
  outline: none;
  border: none;
}

input[type="button"]:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 0px 0px 0px;
}

input[type="button"]:hover {
  background-color: #6FC6FF;
}
