body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color:#fff;
  line-height:1.2;
  margin:0;
  background:linear-gradient(to bottom, rgba(0, 0, 0,0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url("../images/aditya.JPG");
  background-repeat:repeat;
  background-size:cover;
  font-size: 18px;
}
h2 {
  font-weight:300;
  font-size:27px;
  margin:0px;
  text-align:center;
  text-transform:uppercase;
  margin-top:50px;
  padding-bottom:15px;
}
.container {
  width:350px;
  height:400px;
  margin:125px auto;
  display:block;
  background-color:rgba(0,0,0,0.5);
  border-radius:15px;
  padding:15px;
  margin-bottom:50px;
}
.login-form {
  position:relative;
  border:2px solid rgba(255,255,255,0.2);
  width:99%;
  height:110%;
  margin:auto;
  display:block;
  vertical-align:middle;
  border-radius:15px;
}
.login-form hr.to-right {
  width: 45%;
  position:absolute;
  right:30px;
  border: 0px none;
  height: 3px;
  background-image: linear-gradient(to left,transparent, #F9E206);
}
.login-form hr.to-left {
  width: 45%;
  position:absolute;
  left:30px;
  border: 0px none;
  height: 3px;
  background-image: linear-gradient(to right,transparent, #F9E206);
}
.container-login {
  width:60%;
  margin:auto;
  display:block;
  margin-top:30px;
}
label {
  width: 100%;
  display: inline-block;
  padding:0px 0px 5px 5px;
  margin-top: 20px;
  font-size:18px;
}
input {
  border: 0px none;
  width: 94%;
  border-radius: 4px;
  height: 25px;
  padding: 5px 3%;
  font-size:15px;
  font-family: inherit;
  color:#222;
}
select {
  border: 0px none;
  width: 94%;
  border-radius: 4px;
  height: 25px;
  padding: 5px 3%;
  font-size:15px;
  font-family: inherit;
  color:#222;
}
button {
	width:50%;
	background-color:rgba(74,129,51,0.4);
	text-align:center;
	border:2px solid #6FC149;
	color:#fff;
	border-radius:5px;
	height:50px;
	padding:1em;
	margin:1em 0;
	font-size:19px;
	cursor:pointer;
	transition:all 0.3s;
}
.login-footer a {
	font-size: 16px;
	margin:-17px 0px;
	text-align:center;
	
	 color:rgba(255,255,255,0.4);
	font-weight:400;
	line-height:1.4;
	display: block;
	transition:all 0.2s;
}
.login-footer i {
	padding:0px 6px 0px 0px;
}
.container-login button
{
  margin-left: 90px;
}